<div class="row">
    <div class="col-md-6" ng-repeat='chapter in chapters | orderBy: "title"'>
        <h3>{{chapter.title}} <br /><small>{{chapter.summary}}</small></h3>
        <p class=''>
            <a href='#/chapter/{{chapter.id}}'>
                
                <i ng-show='chapter.notes.length == 0' class="glyphicon glyphicon-question-sign"></i>
                <i ng-hide='chapter.notes.length == 0' class="glyphicon glyphicon-chevron-down"></i>
                <ng-switch on='chapter.notes.length'>
                    <span ng-switch-when='0'>
                        Nada?</span>
                    <span ng-switch-default>
                        {{chapter.notes.length}}</span>
                </ng-switch>
                <ng-pluralize count='chapter.notes.length' when='{"0": "Add?", "1": "note", "other": "notes"}'>
                </ng-pluralize>
              <!--   <ng-switch on='chapter.notes.length'>
                    <span ng-switch-when='1'>note</span>
                    <span ng-switch-default>notes</span>
                </ng-switch> -->
            </a></p>
        <p>

        </p>
        <div class='notes' ng-show='chapter.id == selectedChapterId ' >
            <div class='col-lg-6 m' ng-repeat='note in chapter.notes | orderBy: "id"' ng-class-even='"even"' ng-class-odd='"odd"'>
                <span class="label label-primary"> {{$index+1}} </span><div class="pull-right"><a class="" ng-click='onDelete(note.id)'>delete</a></div>
                <p>{{note.content}}</p>
            </div>
        </div>
        <a class="btn btn-primary btn-sm" href="#/addNote/{{chapter.id}}" role="button">Add Note »</a>
    </div>
</div>
